<h1> <%=@person.name%> </h1>

<h3> Date of Birth: <%= @person.dob %> </h3>

<ul> <%= "Parents: " unless @person.orphan? %>
    <% @person.parents.each do |parent| %> 
        <li>  <%= link_to parent.name, person_path(parent) %> </li>
    <% end %>
</ul>

<ul> <%= "Children: " unless !@person.has_children? %>
    <% @person.children.each do |child| %> 
        <li>  <%= link_to child.name, person_path(child) %> </li>
    <% end %>
</ul>

<h5> <%= link_to "Spouse:", marriage_path(@person.marriage) unless !@person.marriage %> <%= link_to(@person.spouse.name, person_path(@person.spouse)) unless !@person.spouse %> </h5>

<ul> <%= "Siblings: " unless !@person.has_siblings? %> 
    <% @person.siblings.each do |sibling| %> 
        <li>  <%= link_to sibling.name, person_path(sibling) %> </li>
    <% end %>
</ul>

<ul> <%= "Grandparents: " unless !@person.has_grandparents? %> 
    <% @person.grandparents.each do |gp| %> 
        <li>  <%= link_to gp.name, person_path(gp) %> </li>
    <% end %>
</ul>

<ul> <%= "Cousins: " unless !@person.has_cousins? %> 
    <% @person.cousins.each do |cuz| %> 
        <li>  <%= link_to cuz.name, person_path(cuz) %> </li>
    <% end %>
</ul>

<ul> <%= "Auntcles: " unless !@person.has_auntcles? %> 
    <% @person.auntcles.each do |auntcle| %> 
        <li>  <%= link_to auntcle.name, person_path(auntcle) %> </li>
    <% end %>
</ul>

<%= link_to "Edit Person info", edit_person_path(@person) %>
<%= button_to "Delete this person", person_path(@person), method: "delete" %>

<%= link_to "Back to all people", people_path(@person) %>

<p>
    Add a parent to this person
    <%= form_for @filial do |f| %>
        <%= f.hidden_field :anni, value: @person.dob %>
        <%= f.label :parent_name, "Parent: "%>
        <%= f.text_field :parent_name %>
        <%= f.hidden_field :child_id, value: @person.id%>
        <%= f.submit "Go!" %>
    <% end %>

    Add a child to this person
    <%= form_for @filial do |f| %>
        <%= f.label :anni, "Child's birth: " %>
        <%= f.date_field :anni %>
        <%= f.hidden_field :parent_id, value: @person.id%>
        <%= f.label :child_name, "Child's name: "%>
        <%= f.text_field :child_name %>
        <%= f.submit "Go!" %>
    <% end %>
</p>

<p>
    <%= "Add a wife to this person" unless @person.married? %>
    <%= form_for @marriage do |f| %>
        <%= f.label :anni, "Anniversary" %>
        <%= f.date_field :anni %>
        <%= f.hidden_field :husband_id, value: @person.id%>
        <%= f.label :wife_name, "Wife:"%>
        <%= f.text_field :wife_name %>
        <%= f.submit "I do!" %>
    <% end unless @person.married? %>

    <%= "Add a husband to this person" unless @person.married? %>
    <%= form_for @marriage do |f| %>
        <%= f.label :anni, "Anniversary" %>
        <%= f.date_field :anni %>
        <%= f.label :husband_id, "Husband: "%>
        <%= f.text_field :husband_name %>
        <%= f.hidden_field :wife_id, value: @person.id%>
        <%= f.submit "I do!" %>
    <% end unless @person.married? %> 
</p>

<%= link_to "Home!", root_path %>
