<h2> aPARENTly... </h2>

<%= form_for @filial do |f| %>
    <%= f.hidden_field :anni, value: Date.today %>
    <%= f.label :parent_name, "parent:"%>
    <%= f.text_field :parent_name %>
    <%= f.label :child_name, "child:"%>
    <%= f.text_field :child_name %>
    <%= f.submit "Happy birthday!" %>
<% end %>