<h2> aPARENTly... </h2>

<%= form_for @filial do |f| %>
    <%= f.label :anni, "Child's birth" %>
    <%= f.date_field :anni %>
    <%= f.label :parent_name, "parent:"%>
    <%= f.text_field :parent_name %>
    <%= f.label :child_name, "child:"%>
    <%= f.text_field :child_name %>
    <%= f.submit "Happy birthday!" %>
<% end %>